.article-card {

  flex: 1;
  width: 20vw;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  mat-card.article-card{
    padding: 5rem !important;
  }

  .article-header-image {
    background-image: url('../../../../assets/img/article.png');
    background-size: cover;
  }

  .details {
    font-size: 0.7rem;
  }

  .body {

    width: 60%;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.full {

    .body {
      height: auto !important;
      overflow: auto !important;
      text-overflow: clip !important;
    }
  }
}
