page-home {
    ion-content{
        ion-row.main{
            height: 90vh;
        }
        ion-col{
            display: block;
            clear: both;
            width: 100%;
            margin: auto;
            position: relative;
            text-align: center;
            border-right: 1px solid #424242;
            *{
              position: relative;
              text-align: center;
              font-family: HelveticaNeue-Light;
            }
        }
    }

}
