page-ico {

    ion-navbar{
        display: inline-flex !important;
        flex-flow: row nowrap !important;
        justify-content: space-around !important;
        overflow: hidden;
        white-space: nowrap;
        height: 2rem;

        .search{
            float: right;
        }
    }


    .search-result {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;

        .result-header {
        padding: 1rem;
        margin: 1rem 0;
        background: #eee;
        border-radius: 0.2rem;
        }
    }

    ion-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        box-sizing: border-box;

        .content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .icoList{
                width: 85vw;
            }

            .coinlist{
                width: 15vw;
            }
        }

    }
}
