app-header{

    .toolbar-background {
        background-color: #3B495B;
    }
    
    ion-navbar{
        display: inline-flex !important;
        flex-flow: row nowrap !important;
        justify-content: space-around !important;
        overflow: hidden;
        white-space: nowrap;
        height: 2rem;

        .button-inner{
            ion-icon{
                color: #F4F4F4;
            }
        }

        ion-title{
            .toolbar-title{
                color: #F4F4F4;
            }
        }

        .search{
            float: right;

            .mat-form-field-label{
                padding: 0 8px;
            }
        }
    }


    .search-result {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;

        .result-header {
        padding: 1rem;
        margin: 1rem 0;
        background: #eee;
        border-radius: 0.2rem;
        }
    }




}